
.vertical-center {
  display: flex; 
  align-items: center;
}

.bordered-image {
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cool-modal {
  margin-left : 3em;
  margin-right : 3em;
}


