<!-- https://stackoverflow.com/questions/7439042/css-js-to-prevent-dragging-of-ghost-image -->
<!--
<ion-card #porteria 
    [ngStyle]="{ backgroundImage: 'url(/assets/porteria4_640.png)', 
                 backgroundRepeat: 'no-repeat',
                 backgroundSize: 'cover' }">
  <p>after all, this is an empty div</p>
</ion-card>
-->

<ion-grid (click)="onPorteriaClick($event)"
    class="porteria_container">
  <img #porteria 
  [ngStyle]="porteriaStyle"
  src="./assets/porteria4_640.png"/>

  <img #equis1 
    [(ngStyle)]="equis1Style"
  src="./assets/equis4_40.png"/>

</ion-grid>

<!--
<img #equis2 [ngStye]="{}"
src="./assets/equis4_64.png"/>
-->

