<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input name="equipoName" 
                placeholder="Nombre del equipo"
                autofocus="true"
                inputmode="text"
                type="text"
                [(ngModel)]="nombre"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Categoría:</ion-label>
        <!-- valorar si aquí debería ir un componente llamado "combo categorias" que recogiese una categoría por defecto -->
        <ion-select>
          <ion-select-option *ngFor="let cat of categorias">{{cat}}</ion-select-option>
          <ion-select-option>Otros (especificar)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Género:</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let gen of generos">{{gen}}</ion-select-option>
          <ion-select-option>Otro (especificar)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Temporada:</ion-label>
        <ion-select>
          <ion-select-option>2022-23</ion-select-option>
        </ion-select>  
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="medium" [routerLink]="['..']">Cancelar</ion-button>
      <ion-button color="primary" (click)="onClickCrear()">Crear</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
