<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estadísticas en tiempo real</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let ep of estadPartido">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div class="ion-text-center">{{ep.nombreEquipo}}</div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">{{ep.crono.parte}}ª Parte</div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">{{ep.nombreRival}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <div class="ion-text-center grande">{{ep.goles}}</div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">{{ep.crono.segundos*1000 | date: 'mm:ss'}}</div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center grande">{{ep.golesRival}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="2"><div class="ion-text-center"><ion-icon name="football"></ion-icon></div></ion-col>
          <ion-col size="6">
            <div class="ion-text-left">Goles/Tiros: {{ep.goles}}/{{ep.goles + ep.lanzFallados}}</div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">{{ep.goles/(ep.goles+ep.lanzFallados) | percent: '2.1-2'}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"><div class="ion-text-center"><ion-icon name="accessibility"></ion-icon></div></ion-col>
          <ion-col size="6">
            <div class="ion-text-left">Paradas/Tiros: {{ep.paradas}}/{{ep.golesRival + ep.paradas}}</div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">{{ep.paradas/(ep.paradas+ep.golesRival) | percent: '2.1-2'}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"><div class="ion-text-center"><ion-icon name="thumbs-up"></ion-icon></div></ion-col>
          <ion-col size="10">
            <div class="ion-text-left">Recuperaciones: {{ep.robos}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"><div class="ion-text-center"><ion-icon name="thumbs-down"></ion-icon></div></ion-col>
          <ion-col size="10">
            <div class="ion-text-left">Pérdidas: {{ep.perdidas}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"><div class="ion-text-center" color="verde">T</div></ion-col>
          <ion-col size="10">
            <div class="ion-text-left">Tiempos Muertos: {{ep.tm}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"><div class="ion-text-center" color="verde">T</div></ion-col>
          <ion-col size="10">
            <div class="ion-text-left">Tiempos Muertos del rival: {{ep.tmRival}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"><div class="ion-text-center"><ion-icon name="stopwatch"></ion-icon></div></ion-col>
          <ion-col size="2">
            <div class="ion-text-left">{{ep.dosMinutos}}/{{ep.dosMinutosRival}}</div>
          </ion-col>
          <ion-col size="1"><div class="ion-text-center"><ion-icon name="square" color="amarillo"></ion-icon></div></ion-col>
          <ion-col size="2">
            <div class="ion-text-left">{{ep.amarillas}}</div>
          </ion-col>
          <ion-col size="1"><div class="ion-text-center"><ion-icon name="square" color="rojo"></ion-icon></div></ion-col>
          <ion-col size="2">
            <div class="ion-text-left">{{ep.rojas}}</div>
          </ion-col>
          <ion-col size="1"><div class="ion-text-center"><ion-icon name="square" color="azul"></ion-icon></div></ion-col>
          <ion-col size="2">
            <div class="ion-text-left">{{ep.azules}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-card *ngIf="eventos.length !== 0">
    <ion-grid>
      <div *ngFor="let evento of eventos">
        <div *ngFor="let lineaEv of lineasEv">
          <div *ngIf="(evento.accionPrincipal === lineaEv.tpEvento) || (evento.accionSecundaria === lineaEv.tpEvento)">
            <div *ngIf="lineaEv.tipo === 'evIzquierda'">
              <ion-row>
                <ion-col size="1"><div class="ion-text-center"><b>{{lineaEv.iconoTexto}}</b><ion-icon name="{{lineaEv.icono}}" color="{{lineaEv.color}}"></ion-icon></div></ion-col>
                <ion-col size="4"><div class="ion-text-left">{{evento.creadorEvento}}</div></ion-col>
                <ion-col size="2"><div class="ion-text-center">{{evento.crono.segundos*1000 | date: 'mm:ss'}}<sup> {{evento.crono.parte}}</sup></div></ion-col>
                <ion-col size="5"></ion-col>
              </ion-row>
            </div>
            <div *ngIf="lineaEv.tipo === 'evDerecha'">
              <ion-row>
                <ion-col size="5"></ion-col>
                <ion-col size="2"><div class="ion-text-center">{{evento.crono.segundos*1000 | date: 'mm:ss'}}<sup> {{evento.crono.parte}}</sup></div></ion-col>
                <ion-col size="4"><div class="ion-text-right">{{evento.creadorEvento}}</div></ion-col>
                <ion-col size="1"><div class="ion-text-center"><b>{{lineaEv.iconoTexto}}</b><ion-icon name="{{lineaEv.icono}}" color="{{lineaEv.color}}"></ion-icon></div></ion-col>
              </ion-row>
            </div>
            <div *ngIf="lineaEv.tipo === 'evCentro'">
              <ion-row>
                <ion-col size="12"><div class="ion-text-center">{{lineaEv.texto}}</div></ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </div>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="eventos.length === 0">
    <ion-row>
      <ion-col size="1"><div class="ion-text-center"><ion-skeleton-text [animated]="true"></ion-skeleton-text></div></ion-col>
      <ion-col size="4"><div class="ion-text-left"><ion-skeleton-text [animated]="true"></ion-skeleton-text></div></ion-col>
      <ion-col size="2"><div class="ion-text-center"><ion-skeleton-text [animated]="true"></ion-skeleton-text></div></ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
  </ion-card>
</ion-content>
