
<ng-template #partidoTemplate let-partido>
  <ion-card #resultCard id="{{partido.id}}">
    <ion-card-header>
      <ion-icon src="assets/handball.svg" size="large"></ion-icon>
      <ion-card-title>{{partido.categoria}} {{partido.genero}} vs. {{partido.rival}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{partido.equipo?.categoria}} {{partido.equipo?.genero}}</ion-text><br/>
      <ion-text>{{partido.fecha | timestamp : 'dd/MM/yyyy' }}</ion-text>
      <ion-text *ngIf="partido.hora !== '00:00'"> {{partido.hora}}</ion-text><br/>
      <ion-text>{{partido.ubicacion}}</ion-text>
    </ion-card-content>
  </ion-card>
</ng-template>

<ion-grid align-items-center="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input name="searchText"
        placeholder="Buscar por..." 
        autofocus="true" 
        inputmode="text" 
        type="text"
        [(ngModel)]="searchText"
        (ionInput)="onClickSearch()"></ion-input>
        <ion-icon name="search"
          (click)="onClickSearch()"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-selectable-card-list
        [objectList]="partidos"
        [cardTemplate]="partidoTemplate"
        (cardSelect)="onCardSelected( $event )">
      </app-selectable-card-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-button color="primary"
            [routerLink]="['nuevo']">Nuevo</ion-button>
      <ion-button color="secondary" [disabled]="!getSelectedId()"
            [routerLink]="['cambio', currentId ]">Cambiar</ion-button>
      <ion-button color="danger" [disabled]="!getSelectedId()"
            (click)="onClickBorrar()">Borrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

