<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        <ion-chip color="primary" (click)="pulsaParte()" [disabled]="crono.tiempo.finPartido || (crono.tiempo.segundos === 0 && crono.tiempo.parte === 1)">{{crono.tiempo.parte}}ª Parte</ion-chip>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-text color="tertiary">{{crono.tiempo.segundos*1000 | date: 'mm:ss'}}</ion-text>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-icon name="play" size="large" (click)="pulsaCrono()" *ngIf="!crono.tiempo.encendido && !crono.tiempo.finParte"></ion-icon>
        <ion-icon name="play-skip-forward" size="large" (click)="finParte()" *ngIf="!crono.tiempo.encendido && crono.tiempo.finParte && (crono.tiempo.parte < partes)"></ion-icon>
        <ion-icon name="stop" size="large" (click)="finPartido()" *ngIf="!crono.tiempo.encendido && crono.tiempo.finParte && !crono.tiempo.finPartido && (crono.tiempo.parte === partes)"></ion-icon>
        <ion-icon name="pause" size="large" (click)="pulsaCrono()" *ngIf="crono.tiempo.encendido"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-progress-bar value="{{crono.tiempo.segundos/segsParte}}"></ion-progress-bar></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
