<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modo Acción</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarModo()">Modo Jugador</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-crono></app-crono>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-marcador [nombreEquipo]="nombres.casa"></app-marcador>
      </ion-col>
      <ion-col class="ion-no-padding">
        <app-marcador [nombreEquipo]="nombres.fuera"></app-marcador>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
