<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modo Acción</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarModo()">Modo Jugador</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-crono></app-crono>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-marcador [nombreEquipo]="nombres.casa" [marcador]="marcador.nuestro" [nosotros]="true"></app-marcador>
      </ion-col>
      <ion-col class="ion-no-padding">
        <app-marcador [nombreEquipo]="nombres.fuera" [marcador]="marcador.rival" [nosotros]="false"></app-marcador>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-accion-goles-lanz></app-accion-goles-lanz>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <app-boton-lista nombreBoton="Robo" [lista]="listaRobos" icono="thumbs-up" colorBoton="success"></app-boton-lista>
              </ion-col>
              <ion-col size="6">
                <app-boton-lista nombreBoton="Pérdida" [lista]="listaPerdidas" icono="thumbs-down" colorBoton="danger"></app-boton-lista>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-accion-sanciones></app-accion-sanciones>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-accion-cambios></app-accion-cambios>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
