<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input name="clubName" 
                placeholder="Nombre del club"
                autofocus="true"
                inputmode="text"
                type="text"
                [(ngModel)]="nombre"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Deporte:</ion-label> 
        <ion-select *ngIf="getDeportes()?.length > 1" 
              [(ngModel)]="selectedDeporte">
          <ion-select-option *ngFor="let deporte of getDeportes(); let deporteIndex=index;" [value]="deporte">{{deporte?.data()['nombre']}}</ion-select-option>
        </ion-select>
        <p *ngIf="getDeportes()?.length === 1">{{getDeportes()[0]?.data()['nombre']}}</p>
        <p *ngIf="getDeportes()?.length === 0">No hay deporte definido</p>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="medium" [routerLink]="['..']">Cancelar</ion-button>
      <ion-button color="primary" (click)="onClickCambiar()">Cambiar</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
