ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-text{
  font-size: 200%
}

/* ion-card.background{
  --background: url(../../../assets/fondo-del-balonmano.jpg) 0 0/100% 100% no-repeat;
} */
