
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          BM LAGUNA
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-start">
          <ion-button size="small" fill="outline" (click)="tiempoMuerto()" *ngIf="encendido">T.M.</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-text>14</ion-text>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-icon name="chevron-forward-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

