<ion-grid align-items-center="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <form (ngSubmit)="onClickSearch()">
          <ion-input name="searchText"
          placeholder="Buscar por..." 
          autofocus="true" 
          inputmode="text" 
          type="text"
          [(ngModel)]="searchText"></ion-input>
          <ion-icon name="search"
            (click)="onClickSearch()"></ion-icon>
        </form>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card #resultCard id="{{p.id}}" *ngFor="let p of clubes" (click)="onCardSelected( p.id )">
        <ion-card-header>
          <ion-icon name="football" size="large"></ion-icon>
          <ion-card-title>{{p.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="list-elem" i18n>Deporte: {{ p.deporte_name }}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-button color="primary"
            [routerLink]="['nuevo']" i18n>Nuevo</ion-button>
      <ion-button color="secondary" [disabled]="!getSelectedId()"
            [routerLink]="['cambio']" i18n>Cambiar</ion-button>
      <ion-button color="danger" [disabled]="!getSelectedId()"
            (click)="onClickBorrar()" i18n>Borrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

