<ion-grid class="porteria_svg_container">
  <img #porteriaImg id="porteriaImg"
    src="./assets/porteria5.png"
    [ngStyle]="porteriaStyle"/>

  <svg id="porteria-svg" 
    width="100%"
    height="100%"
    [ngStyle]="svgStyle">
     <polygon *ngFor="let polygon of getPolygonsConverted()"
         style="fill: transparent;"
         [attr.points]="polygon.points"
         id="{{polygon.name}}"
         (click)="onClickPolygon( $event )"/>
      <path 
      id="equis"
      [ngStyle]="pointerStyle"
      [attr.d]="pointerDots"/>
  </svg>
</ion-grid>
