<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item slot="start" (click)="volver()" color="danger">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-item>
    <ion-title>{{jugador.datos.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="contenedor">
    <div class="fondo">
      {{jugador.datos.numero}}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="../../assets/fotos/{{jugador.datos.foto}}" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="titulo">{{jugador.datos.nombre}} vs. {{estadPartido.nombreRival}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="ion-text-left">
          <div class="epigrafe">Minutos jugados</div>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <div class="valor">{{cadTiempo(jugador.segJugados)}}</div>
        </ion-col>
      </ion-row>
      <div *ngIf="jugador.datos.posicion === 'PO'">
        <ion-row>
          <ion-col size="10" class="ion-text-left">
            <div class="epigrafe">Paradas</div>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <div class="valor">{{jugador.paradas}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" class="ion-text-left">
            <div class="epigrafe">Lanzamientos recibidos</div>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <div class="valor">{{jugador.paradas + jugador.golesRival}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(jugador.paradas + jugador.golesRival) > 0">
          <ion-col size="10" class="ion-text-right">
            <div class="epigrafe">Eficacia</div>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <div class="valor">{{(jugador.paradas*100/(jugador.paradas + jugador.golesRival)) | number: '1.0-0'}}%</div>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="jugador.datos.posicion !== 'PO'">
        <ion-row>
          <ion-col size="10" class="ion-text-left">
            <div class="epigrafe">Goles</div>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <div class="valor">{{jugador.goles}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" class="ion-text-left">
            <div class="epigrafe">Lanzamientos</div>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <div class="valor">{{jugador.goles + jugador.lanzFallados}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(jugador.goles + jugador.lanzFallados) > 0">
          <ion-col size="10" class="ion-text-right">
            <div class="epigrafe">Eficacia</div>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <div class="valor">{{(jugador.goles*100/(jugador.goles + jugador.lanzFallados)) | number: '1.0-0'}}%</div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col size="10" class="ion-text-left">
          <div class="epigrafe">Recuperaciones</div>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <div class="valor">{{jugador.robos}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="ion-text-left">
          <div class="epigrafe">Pérdidas</div>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <div class="valor">{{jugador.perdidas}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="ion-text-right">
          <div class="epigrafe">Exclusiones</div>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <div class="valor">{{jugador.exclusiones}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="ion-text-right">
          <ion-icon name="square" color="amarillo"></ion-icon>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <div class="valor">{{jugador.amarillas}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="ion-text-right">
          <ion-icon name="square" color="rojo"></ion-icon>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <div class="valor">{{jugador.rojas}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="ion-text-right">
          <ion-icon name="square" color="azul"></ion-icon>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <div class="valor">{{jugador.azules}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
