img {
  padding: 5px;
  height: 100px;
  width: auto;
}

.titulo {
  padding: 3px;
  font-size: 5vw;
}

.epigrafe {
  font-size: 4vw;
}

.valor {
  font-size: 4vw;
  font-weight: 700;
}

.contenedor {
  position: relative;
}

.fondo {
  position: absolute;
  margin:3px;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 20vw;
  color: lightgrey;
}
