<!-- Default Segment -->
<ion-segment (ionChange)="segmentChanged($event)" value="enPista">
  <ion-segment-button value="enPista">
    <ion-label>En Pista</ion-label>
  </ion-segment-button>
  <ion-segment-button value="banquillo">
    <ion-label>Banquillo</ion-label>
  </ion-segment-button>
  <ion-segment-button value="eliminados">
    <ion-label>Eliminados</ion-label>
  </ion-segment-button>
</ion-segment>

<div *ngIf="segmentoMostrado === 'enPista'">
<ion-list inset="true">
  <!-- <ion-list-header>
    <h2>Jugadores en la pista</h2> <microfono></microfono>
  </ion-list-header> -->
  <ion-accordion-group #acordeonJugadores>
    <ion-item *ngIf="!portero[0]" color="danger">
      <div>PORTERÍA VACÍA</div>
    </ion-item>
    <ion-accordion *ngIf="portero[0]" value="{{portero[0].datos.id}}">
      <ion-item slot="header">
        <ion-grid class="cabecera">
          <ion-row class="portero">
            <ion-col size="1">
              <ion-icon name="arrow-down" (click)="btnSale(portero[0], true)"></ion-icon>
            </ion-col>
            <ion-col size="2">
              <b>{{ portero[0].datos.numero }}</b>
            </ion-col>
            <ion-col size="7">
              <ion-label>{{ portero[0].datos.nombre }}</ion-label>
            </ion-col>
            <ion-col size="2" class="tJugado">
              <ion-label>{{portero[0].segJugados*1000 | date: 'mm:ss'}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="2"><ion-icon name="accessibility"></ion-icon>{{portero[0].paradas}}</ion-col>
            <ion-col size="2"><ion-icon name="football"></ion-icon>{{portero[0].golesRival}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-up"></ion-icon>{{portero[0].robos}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-down"></ion-icon>{{portero[0].perdidas}}</ion-col>
            <ion-col size="2"><ion-icon name="stopwatch"></ion-icon>{{portero[0].exclusiones}}</ion-col>
            <ion-col size="2"><ion-icon name="square" color="amarillo"></ion-icon>{{portero[0].amarillas}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-card slot="content">
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <ion-item button color="success" (click)="btnParada(portero[0])">
                <ion-icon name="accessibility"></ion-icon>
                <ion-label slot="end">Parada</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item button color="danger" (click)="btnGolRival(portero[0])">
                <ion-icon name="football"></ion-icon>
                <ion-label slot="end">Gol Rival</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <app-boton-lista nombreBoton="Robo" [jugador]="portero[0]" [lista]="listaRobos" icono="thumbs-up" colorBoton="success"></app-boton-lista>
            </ion-col>
            <ion-col size="6">
              <app-boton-lista nombreBoton="Pérdida" [jugador]="portero[0]" [lista]="listaPerdidas" icono="thumbs-down" colorBoton="danger"></app-boton-lista>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <ion-item button color="success" id="cambioPortero" (click)="btnCambioMarca()">
                <ion-icon name="repeat"></ion-icon>
                <ion-label slot="end">Cambio</ion-label>
              </ion-item>
              <ion-popover trigger="cambioPortero" [dismissOnSelect]="true">
                <ng-template>
                  <ion-list>
                    <ion-item *ngFor="let elemento of listaBanquillo" (click)="btnCambio(portero[0], elemento, true)">
                      {{elemento.datos.numero + ' ' + elemento.datos.nombre}}
                    </ion-item>
                  </ion-list>
                </ng-template>
              </ion-popover>
            </ion-col>
            <ion-col size="6">
              <ion-item button color="danger" (click)="btnDosMinutos(portero[0])">
                <ion-icon name="stopwatch"></ion-icon>
                <ion-label slot="end">2 Minutos</ion-label>
              </ion-item>
            </ion-col>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-button color="amarillo" (click)="btnAmarilla(portero[0])" *ngIf="portero[0].amarillas === 0"></ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="rojo" (click)="btnRoja(portero[0])"></ion-button>
              </ion-col>
              <ion-col>
                <ion-button  color="azul" (click)="btnAzul(portero[0])"></ion-button>
              </ion-col>
              </ion-row>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-accordion>

    <ion-accordion *ngFor="let titular of jugCampo" value="{{titular.datos.id}}">
      <ion-item slot="header">
        <ion-grid class="cabecera">
          <ion-row>
            <ion-col size="1">
              <ion-icon name="arrow-down" (click)="btnSale(titular, false)"></ion-icon>
            </ion-col>
            <ion-col size="2">
              <b>{{ titular.datos.numero }}</b>
            </ion-col>
            <!-- <ion-col size="1"></ion-col> -->
            <ion-col size="7">
              <ion-label>{{ titular.datos.nombre }}</ion-label>
            </ion-col>
            <ion-col size="2" class="tJugado">
              <ion-label>{{titular.segJugados*1000 | date: 'mm:ss'}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="2"><ion-icon name="football"></ion-icon>{{titular.goles}}</ion-col>
            <ion-col size="2"><ion-icon name="close"></ion-icon>{{titular.lanzFallados}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-up"></ion-icon>{{titular.robos}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-down"></ion-icon>{{titular.perdidas}}</ion-col>
            <ion-col size="2"><ion-icon name="stopwatch"></ion-icon>{{titular.exclusiones}}</ion-col>
            <ion-col size="2"><ion-icon name="square" color="amarillo"></ion-icon>{{titular.amarillas}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-card slot="content">
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <ion-item button color="success" (click)="btnGol(titular)">
                <ion-icon name="football"></ion-icon>
                <ion-label slot="end">Gol</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item button color="danger" (click)="btnLanzamiento(titular)">
                <ion-icon name="close"></ion-icon>
                <ion-label slot="end">Tiro</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <app-boton-lista nombreBoton="Robo" [jugador]="titular" [lista]="listaRobos" icono="thumbs-up" colorBoton="success"></app-boton-lista>
            </ion-col>
            <ion-col size="6">
              <app-boton-lista nombreBoton="Pérdida" [jugador]="titular" [lista]="listaPerdidas" icono="thumbs-down" colorBoton="danger"></app-boton-lista>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <ion-item button color="success" id="{{'cambio' + titular.datos.id}}" (click)="btnCambioMarca()">
                <ion-icon name="repeat"></ion-icon>
                <ion-label slot="end">Cambio</ion-label>
              </ion-item>
              <ion-popover trigger="{{'cambio' + titular.datos.id}}" [dismissOnSelect]="true">
                <ng-template>
                  <ion-list>
                    <ion-item *ngFor="let elemento of listaBanquillo" (click)="btnCambio(titular, elemento, false)">
                      {{elemento.datos.numero + ' ' + elemento.datos.nombre}}
                    </ion-item>
                  </ion-list>
                </ng-template>
              </ion-popover>
            </ion-col>
            <ion-col size="6">
              <ion-item button color="danger" (click)="btnDosMinutos(titular)">
                <ion-icon name="stopwatch"></ion-icon>
                <ion-label slot="end">2 Minutos</ion-label>
              </ion-item>
            </ion-col>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-button color="amarillo" (click)="btnAmarilla(titular)" *ngIf="titular.amarillas === 0"></ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="rojo" (click)="btnRoja(titular)"></ion-button>
              </ion-col>
              <ion-col>
                <ion-button  color="azul" (click)="btnAzul(titular)"></ion-button>
              </ion-col>
              </ion-row>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-accordion>

    <ion-item *ngIf="(jugCampo.length + listaExcluidos.length) < 6" color="danger">
      <div>FALTA JUGADOR DE CAMPO</div>
    </ion-item>
    <ion-accordion *ngFor="let titular of listaExcluidos" value="{{titular.datos.id}}">
      <ion-item slot="header" color="danger">
        <ion-grid>
          <ion-row class="{{titular.datos.portero?'portero':''}}">
            <ion-col size="2">
              <b>{{ titular.datos.numero }}</b>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="7">
              <ion-label>{{ titular.datos.nombre }}</ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label>{{titular.segExclusion*1000 | date: 'm:ss'}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="2" *ngIf="titular.datos.posicion !== 'PO'"><ion-icon name="football"></ion-icon>{{titular.goles}}</ion-col>
            <ion-col size="2" *ngIf="titular.datos.posicion !== 'PO'"><ion-icon name="close"></ion-icon>{{titular.lanzFallados}}</ion-col>
            <ion-col size="2" *ngIf="titular.datos.posicion === 'PO'"><ion-icon name="hand-left"></ion-icon><ion-icon name="hand-right"></ion-icon>{{titular.paradas}}</ion-col>
            <ion-col size="2" *ngIf="titular.datos.posicion === 'PO'"><ion-icon name="football"></ion-icon>{{titular.golesRival}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-up"></ion-icon>{{titular.robos}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-down"></ion-icon>{{titular.perdidas}}</ion-col>
            <ion-col size="2"><ion-icon name="stopwatch"></ion-icon>{{titular.exclusiones}}</ion-col>
            <ion-col size="2"><ion-icon name="square" color="amarillo"></ion-icon>{{titular.amarillas}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-card slot="content">
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <ion-item button color="danger" (click)="btnDosMinutos(titular)" *ngIf="titular.exclusiones !== 3 && titular.rojas === 0 && titular.azules === 0">
                <ion-icon name="stopwatch"></ion-icon>
                <ion-label slot="end">2 Minutos</ion-label>
              </ion-item>
            </ion-col>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-button color="amarillo" (click)="btnAmarilla(titular)" *ngIf="titular.amarillas === 0 && titular.rojas === 0 && titular.azules === 0"></ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="rojo" (click)="btnRoja(titular)" *ngIf="titular.rojas === 0 && titular.azules === 0"></ion-button>
              </ion-col>
              <ion-col>
                <ion-button  color="azul" (click)="btnAzul(titular)" *ngIf="titular.rojas === 0 && titular.azules === 0"></ion-button>
              </ion-col>
            </ion-row>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-accordion>

  </ion-accordion-group>
</ion-list>
</div>

<div *ngIf="segmentoMostrado === 'banquillo'">
<!-- Banquillo -->
<ion-list inset="true">
<!--   <ion-list-header>
    <h2>Banquillo</h2>
  </ion-list-header> -->
  <ion-accordion-group #acordeonBanquillo>
    <ion-accordion *ngFor="let jugador of listaBanquillo" value="{{jugador.datos.id}}">
      <ion-item slot="header">
        <ion-grid>
          <ion-row class="{{jugador.datos.portero?'portero':''}}">
            <ion-col size="1">
              <ion-icon *ngIf="portero.length + jugCampo.length + listaExcluidos.length !== 7" name="arrow-up" (click)="btnEntra(jugador)"></ion-icon>
            </ion-col>
            <ion-col size="2">
              <b>{{ jugador.datos.numero }}</b>
            </ion-col>
            <ion-col size="7">
              <ion-label>{{ jugador.datos.nombre }}</ion-label>
            </ion-col>
            <ion-col size="2" class="tJugado">
              <ion-label>{{jugador.segJugados*1000 | date: 'mm:ss'}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="2" *ngIf="jugador.datos.portero === false"><ion-icon name="football"></ion-icon>{{jugador.goles}}</ion-col>
            <ion-col size="2" *ngIf="jugador.datos.portero === false"><ion-icon name="close"></ion-icon>{{jugador.lanzFallados}}</ion-col>
            <ion-col size="2" *ngIf="jugador.datos.portero === true"><ion-icon name="accessibility"></ion-icon>{{jugador.paradas}}</ion-col>
            <ion-col size="2" *ngIf="jugador.datos.portero === true"><ion-icon name="football"></ion-icon>{{jugador.golesRival}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-up"></ion-icon>{{jugador.robos}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-down"></ion-icon>{{jugador.perdidas}}</ion-col>
            <ion-col size="2"><ion-icon name="stopwatch"></ion-icon>{{jugador.exclusiones}}</ion-col>
            <ion-col size="2"><ion-icon name="square" color="amarillo"></ion-icon>{{jugador.amarillas}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-accordion>
  </ion-accordion-group>
</ion-list>
</div>

<div *ngIf="segmentoMostrado === 'eliminados'">
<!-- Eliminados -->
<ion-list inset="true">
<!--   <ion-list-header>
    <h2>Eliminados</h2>
  </ion-list-header> -->
  <ion-accordion-group #acordeonEliminados>
    <ion-accordion *ngFor="let jugador of listaEliminados" value="{{jugador.datos.id}}">
      <ion-item slot="header" color="danger">
        <ion-grid>
          <ion-row class="{{jugador.datos.portero?'portero':''}}">
            <ion-col size="2">
              <b>{{ jugador.datos.numero }}</b>
            </ion-col>
<!--             <ion-col size="1">
              <ion-img *ngIf="jugador.datos.portero === true" src="../../../assets/portero.png"></ion-img>
            </ion-col> -->
            <ion-col size="8">
              <ion-label>{{ jugador.datos.nombre }}</ion-label>
            </ion-col>
            <ion-col size="2" class="tJugado">
              <ion-label>{{jugador.segJugados*1000 | date: 'mm:ss'}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="2" *ngIf="jugador.datos.portero === false"><ion-icon name="football"></ion-icon>{{jugador.goles}}</ion-col>
            <ion-col size="2" *ngIf="jugador.datos.portero === false"><ion-icon name="close"></ion-icon>{{jugador.lanzFallados}}</ion-col>
            <ion-col size="2" *ngIf="jugador.datos.portero === true"><ion-icon name="accessibility"></ion-icon>{{jugador.paradas}}</ion-col>
            <ion-col size="2" *ngIf="jugador.datos.portero === true"><ion-icon name="football"></ion-icon>{{jugador.golesRival}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-up"></ion-icon>{{jugador.robos}}</ion-col>
            <ion-col size="2"><ion-icon name="thumbs-down"></ion-icon>{{jugador.perdidas}}</ion-col>
            <ion-col size="2"><ion-icon name="stopwatch"></ion-icon>{{jugador.exclusiones}}</ion-col>
            <ion-col size="2"><ion-icon name="square" color="amarillo"></ion-icon>{{jugador.amarillas}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-list>
</div>
<!-- <ion-item>
  <ion-button color="success">Cambio Ataque/Defensa</ion-button>
</ion-item> -->

