<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Equipo:</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let equipo of equipos">{{equipo.data().categoria + " " + equipo.data().temporada.alias}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Rival:</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let rival of rivales">{{rival}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Lugar:</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let lugar of lugares">{{lugar}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Temporada:</ion-label>
        <ion-select>
          <ion-select-option>2020-21</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-select>
          <ion-select-option>tipazo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Jornada:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Config:</ion-label>
        <ion-select>
          <ion-select-option>dos partes de 30 minutos</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="medium" [routerLink]="['..']">Cancelar</ion-button>
      <ion-button color="primary" (click)="onClickCrear()">Crear</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
