<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row style="padding-top: 6em;">
      <ion-col>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="usuario.email" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input name="password" type="password" [(ngModel)]="usuario.password" required></ion-input>
        </ion-item>    
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button type="submit" (click)="login()">
          <ion-icon slot="end" icon="chevron-forward"></ion-icon>
          <ion-label>Entrar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button routerLink="/registro">
          <ion-icon slot="start" src="assets/registration.svg"></ion-icon>
          <ion-label>Registrarse</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button routerLink="/add-to-home">
          <ion-icon slot="start" icon="home"></ion-icon>
          <ion-label>Añadir a la pantalla de inicio</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

