<ion-item button color="{{colorBoton}}" id="{{nombreBoton + jugador.datos.id}}" (click)="btnLista()">
  <ion-icon name="{{icono}}"></ion-icon>
  <ion-label slot="end">{{nombreBoton}}</ion-label>
</ion-item>

<ion-popover trigger="{{nombreBoton + jugador.datos.id}}" [dismissOnSelect]="true">
  <ng-template>
    <ion-list>
      <ion-item *ngFor="let elemento of lista" (click)="eleccion(elemento.nombre, nombreBoton)">
        {{elemento.nombre}}
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>
