
<ng-template #clubTemplate let-club>

  <ion-card #resultCard id="{{club.id}}">
    <ion-card-header>
      <ion-icon name="football" size="large"></ion-icon>
      <ion-card-title>{{club.nombre}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ng-template>


<ion-grid align-items-center="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <form (ngSubmit)="onClickSearch()">
          <ion-input name="searchText"
          placeholder="Buscar por..." 
          autofocus="true" 
          inputmode="text" 
          type="text"
          [(ngModel)]="searchText"
          (ionInput)="onInputChange($event)"></ion-input>
          <ion-icon name="search"
            (click)="onClickSearch()"></ion-icon>
        </form>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-selectable-card-list
        [objectList]="clubes"
        [cardTemplate]="clubTemplate"
        (cardSelect)="onCardSelected( $event )">
      </app-selectable-card-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-button color="primary"
            [routerLink]="['nuevo']">Nuevo</ion-button>
      <ion-button color="secondary" [disabled]="!getSelectedId()"
            [routerLink]="['cambio',currentId]">Cambiar</ion-button>
      <ion-button color="danger" [disabled]="!getSelectedId()"
            (click)="onClickBorrar()">Borrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

