* {
  /* Cálculo para texto responsive */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 300px) / (1600 - 300))); /* Ranges from 301px to 1599px */
}

@media (prefers-color-scheme: dark) {
  .cancha {
    position: relative;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    height: 400px;
    width: 100%;
    /* background: url("../../assets/campo2_dark.png") center / 125% no-repeat ; */
  }
}

@media (prefers-color-scheme: light ) {
  .cancha {
    position: relative;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    height: 400px;
    width: 100%;
    /* background: url("../../assets/campo2.png") center / 125% no-repeat ; */
  }
}

.drop-inicial{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  width:100%;
  height: 50px;
  border: 2px dashed #4400ff;
}

.drop-area {
  position: relative;
  border: 2px dashed #ff00ff;
  width: 100%;
  height: 100px;
  user-select: none;
}

.contenedorTarjetas {
  //position: relative;
  //display:flex ;
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 5px;
  /* justify-content: center;
  align-items: center; */
}

.fondo{
  position: absolute;
  z-index: 0 !important;
}

.eleLista{
  margin: 0px !important;
  height: 46px;
}

.eleLista ion-img{
  height: 40px;
  padding-bottom: 5px !important;
  margin: 0px !important;
}

.eleLista p{
  --max-size: 40;
  --min-size: 15;
  font-size: var(--responsive);
}

.tarjeta {
  position: relative;
  //width: 60px;
  height: auto;
  //display: inline-block;
  border-style: outset;
  border-radius: 5%;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.tarjetaImagen {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5% !important;
  overflow: hidden;
}

.tarjetaPortero{
  position: absolute;
  width: 20%;
  height: 20%;
  top: 5%;
  right: 10%;
  border-radius: 50%;
  padding: 3px;
  background-image: radial-gradient(circle at center,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.tarjeta h2 {
  background-image: radial-gradient(circle at center,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.1) 100%);
  color: #000;
  position:absolute;
  padding:3px;
  border-radius: 50%;
  top: -15%;
  left: 5%;
}

.tarjeta p {
  background-image: radial-gradient(circle at center,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  color: #000;
  position:absolute;
  text-align: center;
  width: 90%;
  height: 30%;
  padding:2px;
  font-size: 80%;
  top: 60%;
  left: 5%;
}

.cardMonton {
  position: absolute;
  top: calc(65% - 75px);
  left: calc(50% - 50px);
}

.cardEscalera {
  position: absolute;
}

@for $i from 1 through 50 {
  $grados: random(60) - 30;
  .cardMonton:nth-child(#{$i}) {
    transform: rotate($grados + deg);
  }
  .cardEscalera:nth-child(#{$i}) {
    left: 10 + 60*($i - 1) + px;
  }
}
