.fixed-box {
  width: 100%;
  background: #fff;
  height: 160px;
  z-index: 10;
}

.drop-area {
  border: 2px dashed #ff00ff;
  margin: 2px;
  width: calc(50% - 4px);
  align-items: center;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  user-select: none;
  background: #fff;
}

.item-group {
  margin-top: 160px;
}

.cardJugador {
  margin: 2px;
  width: calc(20% - 6px);
  height: calc(20% - 2px);
  display: inline-flex;
}

.cardMonton {
  position: absolute;
  height: 150px;
  width: 100px;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
}

.cardEscalera {
  position: absolute;
  height: 150px;
  width: 100px;
  top: calc(50% - 75px);
}

@for $i from 1 through 50 {
  $grados: random(60) - 30;
  .cardMonton:nth-child(#{$i}) {
    transform: rotate($grados + deg);
  }
  .cardEscalera:nth-child(#{$i}) {
    left: 10 + 20*($i - 1) + px;
  }
}

.numeroCard {
  text-align: center;
  font-size: 2em;
}

.nombreCard {
  font-size: 1em;
  text-align: center;
}

ion-img{
  height: 75px;
  width: 100px;
}
