<ion-header>
  <ion-toolbar>
    <ion-title>Convocados y equipo inicial</ion-title>
    <ion-button (click)="irAModo()" color="primary" slot="end">Empezar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="contentScrollActive">
  <div slot="fixed" class="fixed-box">
    <div class="drop-area" #dropInicial>
      <b>Equipo Inicial</b>
      {{ listaInicial | json}}
    </div>
    <div class="drop-area" #dropBanquillo>
      <b>banquillo</b>
      {{ listaBanquillo | json}}
    </div>
  </div>

  <div class="item-group">
    <ion-item *ngFor="let i of jDisponibles">
      Jugador {{i}}
    </ion-item>
  </div>
</ion-content>
