<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item slot="start" (click)="volver()">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-item>
    <ion-title>Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Estadística" value="{{tipoElegido}}" (ionChange)="cambioLista($event)">
        <div *ngFor="let tipo of listas">
          <ion-select-option value="{{tipo.tipo}}">{{tipo.cabecera}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let tipo of listas">
    <div *ngIf="tipo.tipo === tipoElegido">
      <ion-list *ngFor="let jug of tipo.lista">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/fotos/SinImagen.jpg" />
          </ion-avatar>
          <ion-label>
            <p>{{jug.datos.numero}} - {{jug.datos.nombre}}</p>
          </ion-label>
          <ion-label slot="end">
            <p>{{jug[tipo.tipo] + (tipo.tipo2 === '' ? 0 : jug[tipo.tipo2]) }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

</ion-content>
