<ion-grid align-items-center="true">
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-img
          src="assets/noimage.jpg"
          alt="Perico Pérez"></ion-img>  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary">Hacer foto</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-input name="jugadorName"
              placeholder="Nombre"
              autofocus="true"
              inputmode="text"
              autocorrect="off"
              type="text"></ion-input>
      </ion-row>
      <ion-row>
        <ion-input name="jugadorSurname"
              placeholder="Apellidos"
              inputmode="text"
              autocorrect="off"
              type="text"></ion-input>
      </ion-row>
      <ion-row>
        <ion-select label="Género">
          <ion-select-option>Masculino</ion-select-option>
          <ion-select-option>Femenino</ion-select-option>
          <ion-select-option>N/a</ion-select-option>
        </ion-select>
        <ion-text color="dark" style="font-size: smaller;">
          Esta información es sólo para poner al jugador 
          en un equipo
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-input name="jugadorEdad"
            placeholder="Edad"
            inputmode="number"
            autocorrect="off"></ion-input>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>

  </ion-row>
</ion-grid>

