
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Temporada:</ion-label>
        <ion-select [value]="selectedTemporada">
          <ion-select-option value="t.alias" 
                *ngFor="let t of temporadas">{{t.alias}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-select>
          <ion-select-option>tipazo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Jornada:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Config:</ion-label>
        <ion-select>
          <ion-select-option>dos partes de 30 minutos</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" [routerLink]="['..','rival']">
        <ion-label>Rival</ion-label>
        <ion-icon name="chevron-back" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="primary" expand="block">Crear Partido</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
