<ion-grid align-items-center="true">
  <ion-row>
    <ion-col>
      <ion-item>
        aquí irá formulario de busqueda
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card #resultCard id="{{j.id}}" *ngFor="let j of jugadorList" 
        (click)="onCardSelected( j.id )">
        <ion-card-header>
          <ion-icon name="person" size="large"></ion-icon>
          <ion-card-title>{{j.numero}} {{j.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>{{j?.equipoId[0] | equipoPipe | async }}</ion-text><br/>
          <ion-text *ngIf="j.portero">Portero</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary"
          [routerLink]="['nuevo']">Nuevo</ion-button>
      <ion-button color="secondary"
          [disabled]="!currentId"
          [routerLink]="['cambio', currentId ]">Cambiar</ion-button>
      <ion-button color="danger"
          [disabled]="!currentId"
          (click)="onClickBorrar()">Borrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

