
<ng-template #jugadorTemplate let-jugador>
  <ion-card #resultCard id="{{jugador.id}}">
    <ion-card-header>
      <ion-icon name="person" size="large"></ion-icon>
      <ion-card-title>{{jugador.numero}} {{jugador.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{jugador?.equipoId[0] | equipoPipe | async }}</ion-text><br/>
      <ion-text *ngIf="jugador.portero">Portero</ion-text>
    </ion-card-content>
  </ion-card>
</ng-template>

<ion-grid align-items-center="true">
  <ion-row>
    <ion-col>
      <ion-item>
        aquí irá formulario de busqueda
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-selectable-card-list 
        [objectList]="jugadorList"
        [cardTemplate]="jugadorTemplate"
        (cardSelect)="onCardSelected( $event )"
      ></app-selectable-card-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary"
          [routerLink]="['nuevo']">Nuevo</ion-button>
      <ion-button color="secondary"
          [disabled]="!currentId"
          [routerLink]="['cambio', currentId ]">Cambiar</ion-button>
      <ion-button color="danger"
          [disabled]="!currentId"
          (click)="onClickBorrar()">Borrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

