<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" (ionWillOpen)="escribeUsuario()">

      <ion-header>
        <ion-toolbar color="transparent">
          <ion-icon slot="start" name="menu" size="large" color="primary"
            (click)="collapseMenu()"></ion-icon>
          <ion-title>{{usuarioActivo.nombre}}</ion-title>
          <ion-title size="small">{{usuarioActivo.email}}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>


          <span *ngFor="let p of appPages">
            <ion-item #currentElement lines="none"
            routerLinkActive="selected"
            [routerLink]="p.url"
            [detail]="p.submenu"
            (click)="onClickElement( p, currentElement )">
              <ion-icon slot="start" [name]="p.icon"
              [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
            <div style="margin-left: 1.7em;" *ngIf="p.submenu && p.showDetails">
              <ion-list>
                <ion-item #currentSubmenu *ngFor="let subp of p.submenu"
                    routerLinkActive="selected"
                    [routerLink]="subp.url"
                    (click)="onClickElement( subp, currentSubmenu )">
                  <ion-icon slot="start" 
                            name="subp.icon"
                            [ios]="subp.icon + '-outline'" 
                            [md]="subp.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ subp.title }}</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </span>


        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
