<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input name="equipoName" 
                placeholder="Nombre del equipo"
                autofocus="true"
                inputmode="text"
                autocomplete="true"
                type="text"
                [(ngModel)]="nombre"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Nombre corto:</ion-label>
        <ion-input name="equipoShortName"
        placeholder="Nombre corto"
        inputmode="text"
        autocomplete="true"
        type="text"
        [(ngModel)]="nombreCorto"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Club:</ion-label>
        <ion-select [(ngModel)]="selectedClub">
          @for( club of clubes; track club.id ){
            <ion-select-option value="{{club.id}}">{{club.nombre}}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Categoría:</ion-label>
        <!-- valorar si aquí debería ir un componente llamado 
         "combo categorias" que recogiese una categoría por defecto -->
        <ion-select [(ngModel)]="selectedCategoria">
          @for( cat of categorias; track cat.id ){
            <ion-select-option value="{{cat.id}}">{{cat.name}}</ion-select-option>
          }
          <ion-select-option value="#otro#">Otros (especificar)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="selectedCategoria === '#otro#'">
    <ion-col>
      <ion-input type="text"
            placeholder="Introduce categoría"
            autocapitalize="off"
            autocomplete="on"
            inputmode="text"
            [(ngModel)]="typedCategoria"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Género:</ion-label>
        <ion-select [(ngModel)]="selectedGenero">
          @for( genero of generos; track genero.id ){
            <ion-select-option value="{{genero.id}}">{{genero.name}}</ion-select-option>

          }
          <ion-select-option value="#otro#">Otro (especificar)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="selectedGenero ==='#otro#'">
    <ion-col>
      <ion-item >
        <ion-input type="text" 
              autocapitalize="on" 
              autocomplete="on" 
              inputmode="text"
              [(ngModel)]="typedGenero"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Temporada:</ion-label>
        <ion-select [(ngModel)]="selectedTemporada">
          @for( temporada of temporadas; track temporada.id ){
            <ion-select-option
            [value]="temporada.id">{{temporada.nombre}}</ion-select-option>
          }
          <ion-select-option value="#otro#">Otra (especificar)</ion-select-option>
        </ion-select>  
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="selectedTemporada === '#otro#'">
    <ion-col>
      <ion-item>
        <ion-input type="text"
              autocapitalize="on"
              autocomplete="on"
              inputmode="text"
              [(ngModel)]="typedTemporada"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="medium" [routerLink]="['/', 'admin', 'equipos']">Cancelar</ion-button>
      <ion-button color="primary" (click)="onClickCambiar()">Guardar</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
