

.list-elem {
  color: rgb(31, 31, 31);
  font-size: 1.2em;
}

ion-card-header { position: relative }

ion-icon{
  position: absolute;
  top: 50%;
  right: 0.2em;
  transform: translate(0,-50%);
}


