<ion-item large>
  <ion-icon name="mic" item-end (click)="setShowModal(true)"></ion-icon>
</ion-item>
<ion-modal [isOpen]="showModal"
            (didDismiss)="setShowModal(false)">
  <ng-template>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Di "Gol de María desde lateral derecho"</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <p>Algunos ejemplos:</p>
            <ul>
              <li>Gol de María desde centro</li>
              <li>Parada de Pedro</li>
              <li>Fallo de Ángela</li>
            </ul>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-lg offset="3">
            <ion-img [src]="microfonoImgSrc"
              *ngIf="isAvailable"
              (click)="onClickMicro()"></ion-img>
            <ion-input 
            type="text" 
            clearInput 
            placeholder="Micro no disponible, escribe aquí"
            (input)="onChangeValue($event)"
            class="mic-input-box"
            *ngIf="!isAvailable"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p id="textIdentified" style="font-weight: bold" [innerText]="lastText"></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" offset="4">
            <ion-button 
              expand="block" 
             (click)="setShowModal(false)" >Cerrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>