<ion-item large>
  <ion-icon name="mic" item-end (click)="setShowModal(true)"></ion-icon>
</ion-item>
<ion-modal [isOpen]="showModal">
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col><h3>Di "Gol de César desde lateral derecho"</h3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Algunos ejemplos:</p>
            <ul>
              <li>Gol de María desde centro</li>
              <li>Parada de Pedro</li>
              <li>Tiro de mengano o citrano</li>
            </ul>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-lg offset="3">
            <ion-img [src]="microfonoImgSrc"
              *ngIf="isAvailable"
              (click)="onClickMicro()"></ion-img>
            <ion-input 
            type="text" 
            clearInput 
            placeholder="Micro no disponible, escribe aquí"
            (input)="onChangeValue($event)"
            class="mic-input-box"
            *ngIf="!isAvailable"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p id="textIdentified" style="font-weight: bold" [innerText]="lastText"></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="center" (click)="setShowModal(false)" >Cerrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>