<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" (ionWillOpen)="escribeUsuario()">

      <ion-header>
        <ion-toolbar color="transparent">
          <ion-icon slot="start" name="menu" size="large" color="primary"
            (click)="collapseMenu()"></ion-icon>
          <ion-title>{{usuarioActivo.nombre}}</ion-title>
          <ion-title size="small">{{usuarioActivo.email}}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>


          <span *ngFor="let p of appPages">
            <ion-item #currentElement lines="none" *ngIf="(p.title === 'Admin' && perfil === 'admin') || p.title !== 'Admin'"
            routerLinkActive="selected"
            [routerLink]="p.url"
            [detail]="p.submenu"
            (click)="onClickElement( p, currentElement )">
              <ion-icon slot="start" [name]="p.icon" *ngIf="p.icon"
              [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-icon slot="start" *ngIf="!p.icon && p.src"
              src="{{p.src}}"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
            <div style="margin-left: 1.7em;" *ngIf="p.submenu && p.showDetails">
              <ion-list>
                <ion-item #currentSubmenu *ngFor="let subp of p.submenu"
                    routerLinkActive="selected"
                    [routerLink]="subp.url"
                    (click)="onClickElement( subp, currentSubmenu )">
                  <ion-icon slot="start" *ngIf="subp.icon"
                            name="subp.icon"
                            [ios]="subp.icon + '-outline'"
                            [md]="subp.icon + '-sharp'"></ion-icon>
                  <ion-icon slot="start" *ngIf="!subp.icon && subp.src"
                            src="{{subp.src}}"></ion-icon>
                  <ion-label>{{ subp.title }}</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </span>


        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-item (click)="onClickShare()" routerLinkActive="selected">
          <ion-icon slot="start" src="assets/speaker.svg"></ion-icon>
          <ion-label>Compartir</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" src="assets/rocket.svg" *ngIf="isProduction"></ion-icon>
          <ion-icon slot="start" src="assets/development.svg" *ngIf="!isProduction"></ion-icon>
          <ion-label>{{isProduction?"Prod":"Dev"}} {{version}}</ion-label>
        </ion-item>
      </ion-footer>
  </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
