<ion-card>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-item button color="success">
          <ion-icon name="thumbs-up"></ion-icon>
          <ion-label slot="end">Recuperación</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item button color="danger">
          <ion-icon name="thumbs-down"></ion-icon>
          <ion-label slot="end">Pérdida</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

