<ion-header>
  <ion-toolbar>
    <ion-title>detalle-jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button>Gol</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button>Lanzamiento</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <!-- MUY IMPORTANTE!!! los puntos del polígono tienen que 
             estar ordenados según las agujas del reloj!!!! -->
        <app-porteria [areas]="[
                    { 'name' : 'p1', 
                      'polygon' : [[  0.310640732265446, 0.077 ], 
                      [ 0.438787185354691, 0.077 ], 
                      [ 0.438787185354691, 0.295 ], 
                      [ 0.310640732265446, 0.295 ]]},
                    { 'name' : 'p2',
                      'polygon' : [[0.438787185354691, 0.077 ], 
                      [0.573226544622426, 0.077 ], 
                      [0.573226544622426, 0.295 ], 
                      [0.438787185354691, 0.295 ]] }, 
                    { 'name' : 'p3',
                    'polygon' : [[0.573226544622426, 0.077 ], 
                    [0.701945080091533, 0.077 ], 
                    [0.701945080091533, 0.295 ], 
                    [0.573226544622426, 0.295 ]] }, 
                    { 'name' : 'p4',
                    'polygon' : [[0.310640732265446, 0.295 ], 
                    [0.438787185354691, 0.295 ], 
                    [0.438787185354691, 0.516 ], 
                    [0.310640732265446, 0.516 ]]}, 
                    { 'name' : 'p5',
                    'polygon' : [[0.438787185354691, 0.295 ], 
                    [0.573226544622426, 0.295 ], 
                    [0.573226544622426, 0.516 ], 
                    [0.438787185354691, 0.516 ]]}, 
                    { 'name' : 'p6',
                    'polygon' : [[0.573226544622426, 0.295 ], 
                    [0.701945080091533, 0.295 ], 
                    [0.701945080091533, 0.516 ], 
                    [0.573226544622426, 0.516 ]] }, 
                    { 'name' : 'porteria',
                    'polygon': [[0.310640732265446,	0.077	], 
                    [0.701945080091533, 0.077	], 
                    [0.701945080091533, 0.516	], 
                    [0.310640732265446, 0.516	]] },
                    { 'name' : 'fuera', 
                    'polygon' : [[0, 0], 
                    [1, 0], 
                    [1, 0.683], 
                    [0.866132723112128, 0.525], 
                    [0.701945080091533, 0.516], 
                    [0.701945080091533, 0.077], 
                    [0.310640732265446, 0.077], 
                    [0.310640732265446, 0.516], 
                    [0.121281464530892, 0.525], 
                    [0, 0.653]] }]"></app-porteria>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>




