<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modo Jugador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarModo()" size="small">Modo Acción</ion-button>
      <microfono></microfono>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-crono></app-crono>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-marcador [nombreEquipo]="nombres.casa" [marcador]="marcador.nuestro" [nosotros]="true"></app-marcador>
      </ion-col>
      <ion-col class="ion-no-padding">
        <app-marcador [nombreEquipo]="nombres.fuera" [marcador]="marcador.rival" [nosotros]="false"></app-marcador>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-no-padding ion-text-center">
          <app-titulares [listaInicial] = 'listaInicial' [listaBanquillo] = 'listaBanquillo'></app-titulares>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
