<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modo Jugador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarModo()" size="small">Modo Acción</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <app-crono></app-crono>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding" size="6">
        <app-marcador [nombreEquipo]="nombres.casa"></app-marcador>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <app-marcador [nombreEquipo]="nombres.fuera"></app-marcador>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right" col-12>
        <microfono></microfono>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-text-center" col-12>
        <app-titulares></app-titulares>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
