/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/** Colores creados en variables.scss **/
.ion-color-rojo {
  --ion-color-base: var(--ion-color-rojo) !important;
  --ion-color-base-rgb: var(--ion-color-rojo-rgb) !important;
  --ion-color-contrast: var(--ion-color-rojo-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-rojo-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-rojo-shade) !important;
  --ion-color-tint: var(--ion-color-rojo-tint) !important;
}
.ion-color-amarillo {
  --ion-color-base: var(--ion-color-amarillo) !important;
  --ion-color-base-rgb: var(--ion-color-amarillo-rgb) !important;
  --ion-color-contrast: var(--ion-color-amarillo-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-amarillo-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-amarillo-shade) !important;
  --ion-color-tint: var(--ion-color-amarillo-tint) !important;
}
.ion-color-azul {
  --ion-color-base: var(--ion-color-azul) !important;
  --ion-color-base-rgb: var(--ion-color-azul-rgb) !important;
  --ion-color-contrast: var(--ion-color-azul-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-azul-shade) !important;
  --ion-color-tint: var(--ion-color-azul-tint) !important;
}
