<ion-grid>
  <ion-row>
    <ion-col>
      <h3 class="ion-text-center">Goles marcados</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <canvas baseChart class="chart"
            [data]="barCharData"></canvas>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <canvas baseChart class="chart"
            [data]="barCharData2"></canvas>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="cositas()">
        <ion-label>Soy un botón que hace cositas</ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>