

<ng-template #usuarioTemplate let-usuario>
  <ion-card #resultCard id="{{usuario.id}}">
    <ion-card-header>
      <ion-icon name="person" size="large"></ion-icon>
      <ion-card-title>{{usuario.nombre}} {{usuario.apellidos}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{usuario.email}}</ion-text> <br/>
      <ion-text>{{usuario.club?.nombre}}</ion-text>
    </ion-card-content>
  </ion-card>
</ng-template>


<ion-grid align-items-center="true">
  <ion-row>
    <ion-col>
      <ion-item>
          <ion-input name="searchText"
          placeholder="Buscar por..." 
          autofocus="true" 
          inputmode="text" 
          type="text"
          [(ngModel)]="searchText"
          (ionInput)="onClickSearch()"></ion-input>
          <ion-icon name="search"
            (click)="onClickSearch()"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-selectable-card-list
        [objectList]="usuarios"
        [cardTemplate]="usuarioTemplate"
        (cardSelect)="onCardSelected( $event )">
      </app-selectable-card-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-button color="primary"
            [routerLink]="['nuevo']">Nuevo</ion-button>
      <ion-button color="secondary" [disabled]="!getSelectedId()"
            [routerLink]="['cambio', getSelectedId() ]">Cambiar</ion-button>
      <ion-button color="danger" [disabled]="!getSelectedId()"
            (click)="onClickBorrar()">Borrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

