ion-menu-button {
  color: var(--ion-color-primary);
}

ion-label {
  font-size: xx-small;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0px;
}

.main{

	padding: 10px 0;
	display: grid;
	place-items: center;
}

.contenedor {
  width: 85%;
  float: right;
  height: auto;
  position: relative;
}

.contenedor ul {
  list-style: none;
}

.contenedor ul li {
  width: 90%;
  height: auto;
  padding: 15px 20px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.384);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
}

.contenedor::after {
  position: absolute;
  left: -10%;
  content: ' ';
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(106, 6, 236), rgb(220, 0, 240));
}

.contenedor .rival {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.contenedor .jornada {
  font-size: 12px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

.contenedor .ubicacion {
  font-size: 14px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

.contenedor ul li .fecha {
  position: absolute;
  top: -27px;
  left: 10px;
  width: 80px;
	height: 25px;
	border-radius: 20px;
	color: #fff;
	background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
	display: grid;
	place-items: center;
	font-size: 12px;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);

}

.contenedor ul li .circulo{
	width: 30px;
	height: 30px;
	background-color: rgba(220, 0, 240, 0.403);
	border-radius: 50%;
	position: absolute;
	top: 50%;
  left: -50px;
}

.contenedor ul li .circulo::after{
  content: ' ';
  width: 15px;
  height: 15px;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
