<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{usuario?.club.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>



  <div id="container">
    <ion-item>
      <h2>Calendario de {{usuario?.nombre + ' ' + usuario?.apellidos}}</h2>
    </ion-item>

    <ion-list *ngFor="let rol of usuario?.roles">
      <ion-list-header><h3>Partidos como {{rol.nombre}} del equipo {{rol.equipo.nombre + ' ' + rol.equipo.categoria + ' ' + rol.equipo.genero}}</h3></ion-list-header>
        <ion-card *ngFor="let partido of rol.equipo.partidos">
          <ion-grid>
            <ion-row>
              <ion-col size="6">{{partido.fecha}}</ion-col>
              <ion-col size="6">{{partido.tipo}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">{{rol.equipo.nombre + ' vs. ' + partido.rival}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">{{partido.ubicacion}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="irAModo(rol.equipo, partido, 'generar')">Generar</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="irAModo(rol.equipo, partido, 'ver')">Ver</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
    </ion-list>
  </div>
</ion-content>
