<ion-card>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button color="success">Gol</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger">Gol Rival</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button color="success">Parada</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger">Lanzamiento</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
