<ion-card>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-item button color="success" (click)="btnGol()">
          <ion-icon name="football"></ion-icon>
          <ion-label slot="end">Gol</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item button color="danger" (click)="btnLanzamiento()">
          <ion-icon name="close"></ion-icon>
          <ion-label slot="end">Lanzamiento</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-item button color="success" (click)="btnParada()">
          <ion-icon name="hand-left"></ion-icon>
          <ion-icon name="hand-right"></ion-icon>
          <ion-label slot="end">Parada</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item button color="danger" (click)="btnGolRival()">
          <ion-icon name="football"></ion-icon>
          <ion-label slot="end">Gol Rival</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>


