<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['../clubes']" style="height: 100%;">
          <ion-card-header>
            <ion-icon name="folder" size="large"></ion-icon>
            <h3>Clubes</h3>
          </ion-card-header>
          <ion-card-content>
            {{totalClubes?totalClubes + " clubs":""}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card [routerLink]="['../equipos']" style="height: 100%;">
          <ion-card-header>
            <ion-icon name="people" size="large"></ion-icon>
            <h3>Equipos</h3>
          </ion-card-header>
          <ion-card-content>
            13 equipos registrados
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['../usuarios']" style="height: 100%;">
          <ion-card-header>
            <ion-icon name="person" size="large"></ion-icon>
            <h3>Usuarios</h3>
          </ion-card-header>
          <ion-card-content>
            213 usuarios registrados
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card [routerLink]="['../partidos']" style="height: 100%;">
          <ion-card-header>
            <ion-icon src="assets/handball.svg" size="large"></ion-icon>
            <h3>Partidos</h3>
          </ion-card-header>
          <ion-card-content>
            13 partidos
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
